<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.beecub.games.planet"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="auto"
      >
    <uses-sdk android:minSdkVersion="4" />
    
   	<supports-screens android:resizeable="true"
	    android:normalScreens="true" 
	    android:largeScreens="true" />

    <application 
	    android:icon="@drawable/ic_launcher" 
	    android:label="@string/app_name">
        <activity android:name="com.beecub.games.planet.PlanetActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.beecub.games.planet.OverviewActivity"></activity>
        <activity android:name="com.beecub.games.planet.PowersActivity"></activity>
        <activity android:name="com.beecub.games.planet.SettingsActivity" 
        	android:theme="@android:style/Theme.Dialog"
            android:exported="true"></activity>

    </application>
</manifest>